## Sets

* No order
* stores unique values

In [ ]:
my_set = set()
my_set

In [13]:
my_set = {1,2,3}
my_set

{1, 2, 3}

In [14]:
my_set.add('Chicago')
my_set

{1, 2, 3, 'Chicago'}

In [15]:
my_set.add(2) # sets do not store duplicates

In [6]:
my_set

{1, 2, 3, 'Chicago'}

In [7]:
my_set.update(["New York", "San Francisco"])
my_set

{1, 2, 3, 'Chicago', 'New York', 'San Francisco'}

In [12]:
my_set2 = set(("one", "two", "three"))
my_set

{'one', 'three', 'two'}

In [9]:
1 in my_set

False

In [10]:
5 in my_set

False

In [16]:
my_set.union(my_set2)

{1, 2, 3, 'Chicago', 'one', 'three', 'two'}

In [17]:
my_set2.pop()

'two'

In [18]:
my_set2.discard('three')
my_set2

{'one'}