# String Examples

In [ ]:
# Create Strings
s1 = 'python'
s2 = str('python')
s1
s2

# String slicing and examples

In [2]:
s1[0]

'p'

In [3]:
s1[-1]

'n'

In [4]:
s1[1:3]

'yt'

In [5]:
# assignment not supported
s1[1] = 'd'

TypeError: 'str' object does not support item assignment

# Strings are immutable

In [6]:
s1 == s2

True

In [9]:
#you can use the id to find the actual location of the variable and you can see that now s1 and s2 point to the same memory location

id(s1)

4474451184

In [8]:
id(s2)

4474451184

In [11]:
s1 += "."
id(s1)

4499674224

# String Operators

In [13]:
"hello Google." * 2

'hello Google.hello Google.'

In [14]:
# string concatenation
"Alexa, " + "make me coffee."

'Alexa, make me coffee.'

In [17]:
# in
'p' in 'python'

True

In [16]:
# not in
'pythonx' not in 'python'

True

# String function examples

In [18]:
len("Example")

7

In [19]:
"Alpha".upper()

'ALPHA'

In [20]:
"THE".lower()

'the'

In [21]:
"hello".capitalize()

'Hello'

In [22]:
"ThisWillBeFun".swapcase()

'tHISwILLbEfUN'

In [23]:
"Test String".replace("T","P")

'Pest String'

# Find and Replace

In [24]:
"You cant touch this".count('ant')

1

In [25]:
"You cant touch this".count('t', 10, 20)

1

In [26]:
"There are 99 bottles of beer on the wall".find('99')

10

In [27]:
"There are 99 bottles of beer on the wall".find('100')

-1

# Split and Join

In [29]:
# Split
"Lets split this string".split()

['Lets', 'split', 'this', 'string']

In [30]:
"Lets split this string".split('s')

['Let', ' ', 'plit thi', ' ', 'tring']

In [33]:
# join
" ".join(["Will", "this", "work?"])

'Will this work?'

# String Formatting

In [35]:
# Old school
name = "John"
num_pets = 2
"Welcome %s. How are your %s pets doing?" % (name, num_pets)

'Welcome John. How are your 2 pets doing?'

In [36]:
#str.format()
m = 10
print('The number n is {:.1f}'.format(m))

The number n is 10.0

In [38]:
a = 10
b = 20000
c = 0.25
print('a, b, & c are displayed as {:.2f}, {:,} and {:.1%}'.format(a,b,c))

a, b, & c are displayed as 10.00, 20,000 and 25.0%

In [39]:
my_str = "Python"
print('{}'.format(my_str.upper()))

PYTHON

# New string formatting using f-strings introduced in python 3.6

In [41]:
m = 10
f"The number n is {m}"

'The number n is 10'

In [42]:
a = 10
b = 20000
c = 0.25
f'a, b, & c are displayed as {a:.2f}, {b:,} and {c:.1%}'

'a, b, & c are displayed as 10.00, 20,000 and 25.0%'

In [43]:
my_str = "Python"
f'{my_str.upper()} is fun!'

'PYTHON is fun!'